In [1]:
# Use the Azure Machine Learning data collector to log various metrics
from azureml.logging import get_azureml_logger
logger = get_azureml_logger()

In [2]:
# Use Azure Machine Learning history magic to control history collection
# History is off by default, options are "on", "off", or "show"
%azureml history off

History logging disabled

In [3]:
# Install library for the first use
# !pip install azure-storage

# Download data from Azure Blob Storage

In [4]:
from azure.storage.blob import BlockBlobService, PublicAccess
block_blob_service = BlockBlobService(account_name='mtcsdataai', account_key='d5XhBqQziobWFmcBhgFRzxP7PZZLMqqI0f9v5cCwG2F+Yemk4Z8rt75scnxdEt3GmvG84KEOeg5auZGzDE+KVw==')
generator = block_blob_service.list_blobs('taxandmarket')
container_name='taxandmarket'

In [5]:
for blob in generator:
            print("\t Blob name: " + blob.name)

	 Blob name: joined_dataset.csv

In [7]:
# https://docs.microsoft.com/en-us/azure/storage/blobs/storage-quickstart-blobs-python
local_path=os.path.expanduser("~/downloads")
blob_file_name='joined_dataset.csv'
full_path_to_file = os.path.join(local_path, blob_file_name)
block_blob_service.get_blob_to_path(container_name, blob_file_name, full_path_to_file)
print("\nDownloading blob to " + full_path_to_file)

Downloading blob to /Users/hyun/downloads/joined_dataset.csv

In [8]:
# Use Azure Machine Learning history magic to control history collection
# History is off by default, options are "on", "off", or "show"
%azureml history on

History logging enabled

In [9]:
logger.log("Data Source", full_path_to_file)

In [10]:
# Use the Azure Machine Learning data preparation package
from azureml.dataprep import package
# This call will load the referenced package and return a DataFrame.
# If run in a PySpark environment, this call returns a
# Spark DataFrame. If not, it returns a Pandas DataFrame.
df = package.run('dataPrepPkg.dprep', dataflow_idx=0)

# Remove this line and add code that uses the DataFrame
df.head(10)

,Column1,count,zip,zipcode,sum(zipcode),sum(single_returns),sum(joint_returns),sum(numdep),sum(total_income_amount),sum(taxable_interest_amount),sum(net_capital_gains),sum(biz_net_income)
0,0.0,NaN,NaN,463.0,8334.0,930.0,840.0,980.0,82700.0,460.0,8.250000e+02,4409.0
1,1.0,2.0,496.0,496.0,17856.0,3290.0,3250.0,4150.0,357071.0,1540.0,5.704000e+03,10969.0
2,2.0,NaN,NaN,833.0,9996.0,14000.0,9490.0,19940.0,1497553.0,7747.0,1.278800e+04,32485.0
3,3.0,1.0,1342.0,1342.0,40260.0,4800.0,3680.0,5450.0,475283.0,2919.0,6.476000e+03,13496.0
4,4.0,1.0,1580.0,1580.0,9480.0,4600.0,3940.0,4650.0,516516.0,4243.0,1.082700e+04,22441.0
5,5.0,5.0,2122.0,2122.0,127320.0,94310.0,46450.0,120950.0,8381305.0,32598.0,7.113600e+04,202711.0
6,6.0,NaN,NaN,2366.0,99372.0,31870.0,23150.0,43120.0,3395514.0,15435.0,4.028900e+04,46188.0
7,7.0,NaN,NaN,2659.0,31908.0,370.0,450.0,570.0,45116.0,97.0,1.844674e+19,596.0
8,8.0,NaN,NaN,2866.0,85980.0,1320.0,1720.0,2230.0,147989.0,774.0,2.556000e+03,3534.0
9,9.0,1.0,3175.0,3175.0,57150.0,4250.0,4440.0,9490.0,495720.0,4784.0,7.824000e+03,14127.0

In [ ]:
%azureml history off